fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
sqlmodel
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
python-jose[cryptography]
authlib
httpx
redis
rq
qdrant-client
llama-index
llama-index-vector-stores-qdrant
boto3
python-multipart
orjson
markitdown
python-magic
aiofiles